{% extends '@Debug/Profiler/Base/dump.html.twig' %}

{% block panel %}
    <h2>dump()</h2>

    <style>
        {% include '@Debug/Profiler/Patchwork/dump.css.twig' %}
    </style>

    <script>
        {% include '@Debug/Profiler/Patchwork/dump.js.twig' %}
    </script>

    <ul id="sf-dump" class="alt">
        {% for dump in collector.getDumps('json') %}
        <li class="sf-dump sf-reset">
            in {% if dump.file %}<abbr title="{{ dump.file }}">{{ dump.name }}</abbr>{% else %}{{ dump.name }}{% endif %}
            line {{ dump.line }}:
            <a onclick="Sfjs.dump.toggle(this)"> ⊞ </a><span class="sf-dump-key"></span>
            <span class="sf-dump-compact">
            {% if dump.fileExcerpt %}{{ dump.fileExcerpt|raw }}{% else %}{{ dump.file|file_excerpt(dump.line) }}{% endif %}
            </span>

            <pre class="event"><script>document.write(Sfjs.dump.htmlize({{ dump.data|raw }}))</script></pre>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
