{% extends '@Debug/Profiler/Base/dump.html.twig' %}

{% block panel %}
    <h2>dump()</h2>

    <style>
        {% include '@Debug/Profiler/OwlyCode/dump.css.twig' %}
    </style>

    <script>
        {% include '@Debug/Profiler/OwlyCode/dump.js.twig' %}
    </script>

    <div id="dumper-content">
        {% for dump in collector.getDumps('json') %}
        <div class="sf-dump sf-reset">
            in {% if dump.file %}<abbr title="{{ dump.file }}">{{ dump.name }}</abbr>{% else %}{{ dump.name }}{% endif %}
            line {{ dump.line }}:
            <a href="#" onclick="Sfjs.dump.toggle(this); return false"> ⊞ </a><span class="sf-dump-key"></span>
            <span class="sf-dump-compact">
            {% if dump.fileExcerpt %}{{ dump.fileExcerpt|raw }}{% else %}{{ dump.file|file_excerpt(dump.line) }}{% endif %}
            </span>
            <script>Sfjs.dump.run({{ dump.data|raw }})</script>
        </div>
        {% endfor %}
    </div>
{% endblock %}
